

#add-location-form {
    display: none;
}

.location-span{
     width: 90%;
    background-color: wheat;
    display: inline-block;
}

.location-remove {
    float: right;
    display: inline-block;
    width: 5%;
}