<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <title>Out of the Abyss - Map with Drawing Tools</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

</head>
<body>

<div id="map" style="background-color: black;"></div>
<audio id="audio" src="/static/audio/0fICWTcQEnk.mp3" controls loop="true"></audio>
<div class="timer-container">
  <canvas id="timerCanvas"></canvas>
  <div class="timer-text" id="timerText"></div>
</div>
<script src="https://unpkg.com/@turf/turf"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
<script>

</script>
</body>
</html>
