<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Out of the Abyss - Map with Drawing Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/external/leaflet.draw.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body style="background: black">
<div id="info-bar" ></div>

<div id="map" style="background-color: black;"></div>
<div id="map-controls" class="tab-content active">

    <button id="spells-button">Spells</button>
</div>
<audio id="audio" src="/static/audio/0fICWTcQEnk.mp3" controls loop="true"></audio>
<button id="auth">Войти</button>
<div class="timer-container">
    <canvas id="timerCanvas"></canvas>
    <div class="timer-text" id="timerText"></div>
</div>
<div id="skull">&#9760;</div>
<script src="{{ url_for('static', filename='js/external/turf.js') }}" async defer></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<script type="module" src="{{ url_for('static', filename='js/script.js') }}" async defer></script>
<script src="{{ url_for('static', filename='js/timer.js') }}" async defer></script>
<script src="{{ url_for('static', filename='js/skull.js') }}" async defer></script>
</body>
</html>
